<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>To-do-express</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Loved+by+the+King' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container">
		<h1>{{title}}</h1>
		<form action="">
			<div id="inputs">
				<div id="itemInput">
					<label for="item">Task: </label>
					<input type="text" id="item" placeholder="Enter new task"required>
				</div>
				<div id="dateInput">
					<label for="date">Date: </label>
					<input type="date" value="2016-01-22" id="date" required>
				</div>
				<input class="btn btn-default" type="submit" value="Add Task" id="addItem">
			</div>
		</form>
		<div class="row" id="taskTable">
			<div id="clipBoard">
				<table>
					<div id="clip"></div>
					<thead>
					  <tr>
					  	<th>Task</th>
					  	<th>Due</th>
					  	<th>Complete</th>
					  	<th>Remove</th>
					  </tr>
					</thead>
					<tbody id="taskList">
						{{#each tasks}}
						
							{{#if this.complete}}
								<tr style="background-color:#f5f5f0">
									<td class="itemOutput col-sm-6" style="text-decoration:line-through">{{this.item}}</td>
									<td class="dateOutput col-sm-3" style="text-decoration:line-through">{{this.date}}</td>
									<td class="col-sm-2"><div class="checkbox"><label><input type="checkbox" class="toggle" checked> Done</label></div></td>
							{{else}}
								<tr>
									<td class="itemOutput col-sm-6">{{this.item}}</td>
									<td class="dateOutput col-sm-3">{{this.date}}</td>
									<td class="col-sm-2"><div class="checkbox"><label><input type="checkbox" class="toggle"> Done</label></div></td>
							{{/if}}
							<td class="col-sm-1"><a class="delete">Delete</a></td> 
						</tr>
						{{/each}}
					</tbody>
				</table>
				<input class="btn btn-default" type="button" value="Remove Completed Tasks" id="deleteCompleted">
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="http://momentjs.com/downloads/moment.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>